* {
  text-align: center;
  font-family: Helvetica;
}
.header {
  color: white;
  background-color: black;
  background-image: url (.../Resources/flatiron-building.png);
}
.header h1 {
  font-size: 70px;
  font-weight: bold;
}
.top ul {
  list-style-type: none;
  font-size: 18px;
}
.top a {
  color: white;
}
.process.about h3 {
  font-size: 32px;
  font-weight: bold;
}
.process.about h4 {
  font-size: 23px;
  font-weight: bold;
}
.process.about p {
  font-size: 14px;
}
.header h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.footer ul {
  background-color: dimgray;
  text-align: left;
}
.footer li{
  font-size: 11px;
  color: white;
  list-style-type: none;
  display: inline;
  font-weight: bold;
}
.footer a {
  color: white;
}
