* {
  text-align: center;
  font-family: Helvetica;
}
.header {
  color: white;
  background-image: url("../Resources/flatiron-building.png");
}
.header h1 {
  font-size: 70px;
  font-weight: bold;
}
.top ul {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}
.top a {
  color: white;
}
.process h3 {
  font-size: 32px;
  font-weight: bold;
}
.process h4 {
  font-size: 23px;
  font-weight: bold;
}
.process p {
  font-size: 14px;
}
.header h4 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.footer ul {
  background-color: dimgray;
  text-align: left;
}
.footer li{
  font-size: 11px;
  color: white;
  list-style-type: none;
  display: inline;
  font-weight: bold;
}
.footer a {
  color: white;
}
